root {
    --main-bg-color: lightgrey;
}

body {
    overflow-x: hidden;
    background-color: var(--main-bg-color, lightgrey);
}

.table {
    margin: 0;
    padding: 0;
    border: 1px solid darkgray;
    background: white;
    border-radius: 5px;
    /*border: 1px solid black;*/
}

.menu {
    margin-bottom: 3rem;
}

#form-submit {
    width: 60%;
    margin: 0 20%;
}

#now-submit {
    margin: 0 calc(50% - 55px);
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.input-group {
    display: flex;
}

#r1 {
    margin-top: 2rem;
    width: 50%;
    flex-grow: 1;
    font-weight: 600;
}

.greetings {
    text-align: center;
    width: 100%;
}

#main-table {
    display: none;
}

h3 {
    margin-right: 10px;
    padding-top: 5px;
}

.jumbotron-fluid {
    width: 40%;
    margin: 0 auto;
    background-color: white;
    border: 1px solid darkgray;
    border-radius: 5px;
    padding: 0;
}

.jum-info {
    display: flex;
    justify-content: space-around;
}

.jumbotron h4 {
    margin-top: 1.2rem;
}

.jumbotron h4:last-child {
    padding-right: 5rem;
}

#error {
    display: flex;
    justify-content: center;
    padding-top: 0.5rem;
    font-weight: 600;
}

@media (max-width: 767px) {
    .jumbotron-fluid {
        width: 95%;
    }
    .table {
        margin-top: 1rem;
    }
}